// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$default-font-size: 1.6rem;
$font-primary: 'Lora', serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  // @include respond-phone {
  //   font-size: 50%;
  // }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  // @include respond(big-desktop) {
  //   font-size: 75%; // 1rem = 12, 12/16
  // }
}

body {
  font-family: $font-primary;
  color: red;
  font-weight: 300;
  line-height: 1.6;
}
