.experience {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include respond(tab-port) {
    display: block;
  }

  &__tab {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding-top: 3rem;
    justify-items: center;
    row-gap: 2rem;

    &--1 {
      grid-column: 2 / 3;
    }
    &--2 {
      grid-column: 3 / 4;
    }
    &--3 {
      grid-column: 4 / 5;
    }

    &__circle {
      box-shadow: -1px -1px 3px 1px #ffda8d, 1px 1px 3px 1px #ff823e;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #6e6e6e;
      display: inline-block;
      text-align: center;
      width: 20rem;
      line-height: 20rem;

      &--loaded {
        background-image: linear-gradient(62deg, #fd5d06 0%, #ffda8d 100%);
        box-shadow: -1px -1px 3px 1px rgb(214, 213, 213), 1px 1px 3px 1px rgb(214, 213, 213);
        color: white;
        font-family: inherit;
        transition: all 2s ease;
      }
    }

    &__title {
      font-size: 2rem;
    }

    &__counter {
      font-size: 4rem;
    }
  }
}
