.section {
  color: black;
  padding: 8rem 3rem;
  border-top: 1px solid #ddd;
  &__description {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background-color: transparent;
    display: inline-block;
    background-image: linear-gradient(62deg, #fd5d06 0%, #ffda8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
  }

  &__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
  }

  &__title {
    max-width: 80rem;
    margin: 0 auto 3rem auto;
  }
}

.features {
  margin: 0 10rem;

  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: repeat(3, minmax(50%, 1fr));

  @include respond(tab-port) {
    margin: 0;
  }
  &__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__feature {
    // text-overflow: clip;
    align-self: center;
    font-size: 1.8rem;
    padding: 3rem;
    // border: 1px solid purple;
  }
}

// .box {
//   padding: 20px;
//   font-size: 30px;
//   border: 1px solid purple;
// }

@media (max-width: 767px) {
  .features {
    display: grid;
    grid-template-columns: 1fr;

    &__img {
      object-fit: cover;
    }
  }
}
