.header {
  position: relative;
  background-color: #f3f3f3;
}

nav {
  height: 12vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  /* border: 1px solid purple; */
  width: 80px;
  height: 80px;
  font-size: 2.5rem;
  display: flex;
  /* height: 100%; */
  align-items: center;
  margin-top: 3.2rem;

  &__img {
    width: 100%;
    height: auto;
  }
}

.nav__links {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  // border: 1px solid greenyellow;
  margin-top: 3.2rem;
}
.nav__item {
  margin-left: 5rem;
}

// nav-links li a
.nav__item,
.nav__link {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: inherit;
  text-transform: uppercase;
}

.header-content {
  position: relative;
  min-height: 60rem;
}
.col-text {
  color: #444;
  position: absolute;
  top: 25%;
  left: 30%;
}

.col-image {
  position: absolute;
  bottom: 13%;
  left: 50%;
  line-height: 0;

  &__logo {
    width: 100%;
    height: 100%;
  }
}

.title__primary {
  font-size: 6.5rem;
  line-height: 1.1;
}

.title__secondary {
  margin-top: 3rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #fd5d06;
  background-image: linear-gradient(62deg, #fd5d06 0%, #ffda8d 100%);

  z-index: 10;
}

.btn__learn-more {
  margin-top: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &,
  &:link,
  &:visited {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
  }
}

.header-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.header-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.header-wave .shape-fill {
  fill: #ffffff;
  // fill: purple;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .header-wave svg {
    width: calc(100% + 1.3px);
    height: 135px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .header-wave svg {
    width: calc(100% + 1.3px);
    height: 87px;
  }
  .line__burger {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      height: 3px;
      background-color: black;
      width: 30px;
    }

    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
    }
  }

  nav {
    position: relative;
    z-index: 100;
    align-items: initial;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 22;
  }
  .nav__links {
    position: fixed;
    background-color: #f3f3f3;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    clip-path: circle(25px at 90% 5%);
    -webkit-clip-path: circle(30px at 92.5% 5%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: space-evenly;
    // align-items: stretch;
  }
  .nav__link {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .nav__links.open {
    clip-path: circle(1200px at 90% 10%);
    -webkit-clip-path: circle(1200px at 90% 10%);
    pointer-events: all;
    display: flex;
  }

  .hamburger.open .line__burger {
    transform: translateX(-50px);
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}
