.header {
  position: relative;
  height: 100vh;
}

nav {
  min-height: 12vh;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}
.hamburger {
  display: none;
}
.logo {
  /* border: 1px solid purple; */
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
  display: flex;
  /* height: 100%; */
  align-items: center;
  margin-top: 3.2rem;

  &__img {
    width: 100%;
    height: auto;
  }
}

.nav__links {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  // border: 1px solid greenyellow;
  margin-top: 3.2rem;
}
.nav__item {
  margin-left: 5rem;
}

// nav-links li a
.nav__item,
.nav__link {
  color: #444;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5rem;
  padding: 1rem;
}

.nav__link:hover {
  box-shadow: -2px -2px 10px 1px orange, 2px 2px 10px 1px rgb(247, 227, 55);
  border-radius: 5rem;
}

.header-content {
  position: relative;
  min-height: 80rem;
  background: radial-gradient(circle, rgba(240, 135, 78, 1) 0%, rgba(211, 211, 211, 1) 100%);
}
.col-text {
  color: #444;
  position: absolute;
  top: 25%;
  left: 30%;
}

.col-image {
  position: absolute;
  bottom: 5%;
  left: 50%;
  line-height: 0;

  &__logo {
    width: 100%;
    height: 100%;
  }
}

.title__primary {
  font-size: 6.5rem;
  line-height: 1.1;
}

.title__secondary {
  margin-top: 3rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #fd5d06;
  background-image: linear-gradient(62deg, #fcfaf7 35%, #e6e1df 75%);
  opacity: 0.2;

  z-index: 10;
}

.btn__learn-more {
  margin-top: 2rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  font-size: 4rem;
  -webkit-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  &,
  &:link,
  &:visited {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
  }
}
.arrow__learn-more {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-bottom: 4px solid orange;
  border-right: 4px solid orange;
  transform: rotate(45deg);
  animation: scroll 4s infinite ease-in-out;
  margin: -1rem;
  opacity: 1;
  &::before {
    content: '';
    display: inline-block;
    background-image: linear-gradient(62deg, #fd5d06 0%, #ffda8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@keyframes scroll {
  0% {
    opacity: 0.3;
    transform: rotate(45deg) translate(-2rem, -2rem);
  }
  50% {
    opacity: 0.6;
    transform: rotate(45deg) translate(2rem, 2rem);
  }
  100% {
    opacity: 0.9;
    transform: rotate(45deg) translate(-2rem, -2rem);
  }
}

.header-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.header-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.header-wave .shape-fill {
  fill: #ffffff;
  // fill: purple;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .header-wave svg {
    width: calc(100% + 1.3px);
    height: 135px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .header-wave svg {
    width: calc(100% + 1.3px);
    height: 87px;
  }
  .line__burger {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      height: 3px;
      background-color: black;
      width: 30px;
    }

    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
    }
  }

  nav {
    position: absolute;
    z-index: 100;
    align-items: initial;
    top: 0;
    left: 0;
    right: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 22;
  }
  // TU
  .nav__links {
    position: absolute;
    background: radial-gradient(circle, rgba(240, 135, 78, 1) 0%, rgba(211, 211, 211, 1) 100%);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    clip-path: circle(30px at 93% 3%);
    -webkit-clip-path: circle(30px at 92.5% 5%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: space-evenly;
    // align-items: stretch;
  }
  .nav__link {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .nav__links.open {
    clip-path: circle(1200px at 90% 10%);
    -webkit-clip-path: circle(1200px at 90% 10%);
    pointer-events: all;
    display: flex;
  }

  .hamburger.open .line__burger {
    transform: translateX(-50px);
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}

// animation
