@import 'base';
@import 'header';
@import 'features';
@import 'operations';
@import 'realizations';
@import 'experience';
@import 'footer';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');
